<body>
    

<div *ngIf="!forgotPassword ; else password">
    <div id="mmenu_screen" class="container-fluid">

        <div class="row ">

            <div class="col-4 mt-5 me-5"></div>
            <div class="col-3 mt-5 mb-5 p-5 bg-light border border-dark border-opacity-75 shadow-lg ">
                <div class="text-center">
                    <h2><i class="bi bi-lock-fill w-25"></i></h2>
                    <h2>Trouble logging In?</h2>
                    <h6 class="opacity-25 mb-3">Enter your Email and we'll set a<br>
                        New Password to get back into your account.</h6>
                </div>
                <hr>

                <form [formGroup]="forgotMail">
                    <label for="form-label">
                        <h6>Enter Email Address:</h6>
                    </label>
                    <input type="text" name="email" formControlName="emailId"
                    [ngClass]="{'is-invalid':submitted && forgotMail.controls['emailId'].errors}"
                    class="form-control">
                    <small *ngIf="(forgotMail.controls['emailId'].touched && forgotMail.controls['emailId'].invalid)||submitted"
                        class="form-text text-danger invalid-feedback">
                        Email is required..! <br></small>
                    <small class="form-text text-danger">{{invalid}}</small>
                    <div class="row mt-2">
                        <h6 class="col mt-3">
                            <a routerLink="/loginPage" class="text-primary opacity-75">Create New
                                Account</a></h6>
                        <input type="submit" class="col btn btn-primary bg-gradient w-50 mt-3 mb-3" (click)="change()"
                            value="Continue">
                    </div>
                </form>
                <hr>

                <div class="text-center mt-3">
                    <h6>Return to <a routerLink="/loginPage" class="text-primary">Login</a></h6>
                </div>

            </div>


        </div>

    </div>
</div>
</body>
<ng-template #password>
    <body>
        
    
    <div class="container-fluid main_container flex-fill vh-100">
        <div class="row">
            <div class="col-4 mt-5 me-5"></div>
            <div class="col-3 mt-5 mb-5 p-5 bg-light border border-dark border-opacity-75 shadow-lg ">
                <div class="text-center">
                    <h2>New Password</h2>
                    <h6 class="opacity-50 mb-3 text-success">Please create a new password that<br>
                        you don't use on any other site.</h6>
                </div>
                <hr>
                <div class="inside">

                    <form [formGroup]="forgotPass">
                        <div class="mb-3">
                            <label for="form-label">
                                <h6>Create New Password :</h6>
                            </label>
                            <input type="text" name="newPassword" formControlName="newPassword"
                            [ngClass]="{'is-invalid':forgotPass.controls['newPassword'].touched && forgotPass.controls['newPassword'].errors}"
                            class="form-control">
                            <small
                                *ngIf="forgotPass.controls['newPassword'].touched && forgotPass.controls['newPassword'].invalid"
                                class="form-text text-danger">
                                Enter Valid password</small>
                        </div>
                        <div class="mb-3">
                            <label for="form-label">
                                <h6>Confirm your Password :</h6>
                            </label>
                            <input type="text" name="confirmPassword" formControlName="confirmPassword"
                            [ngClass]="{'is-invalid':forgotPass.controls['confirmPassword'].touched && forgotPass.controls['confirmPassword'].errors}"    
                            class="form-control">
                            <small
                                *ngIf="forgotPass.controls['confirmPassword'].touched && forgotPass.controls['confirmPassword'].invalid"
                                class="form-text text-danger">
                                Enter Valid password</small>
                            <small class="form-text text-danger">{{invalid}}</small>

                        </div>
                        <div class="mb-4">
                            <input type="submit" class="col btn btn-primary bg-gradient form-control mb-3"
                                (click)="forgotValidate()" value="Change">

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</ng-template>
