
    
<nav class="navbar navbar-expand bg-primary bg-gradient">
    <div class="container-fluid ">
        <div class="navbar-nav me-auto mb-2 mb-lg-0">
            <a class="nav-link btn btn-dark opacity-75 bg-gradient text-light" routerLink=" ">LOGIN</a>
            <a class="nav-link btn btn-dark opacity-75 bg-gradient text-light ms-1" routerLink="/signUp">SIGN-UP</a>
            <a class="nav-link btn btn-dark opacity-75 bg-gradient text-light ms-1" mat-raised-button
                matTooltip="Info about the action" routerLink="/about">ABOUT</a>
            <a class="nav-link btn btn-dark opacity-75 bg-gradient text-light ms-1" routerLink="/contact">CONTACT</a>
            <!-- <a class="nav-link btn btn-dark opacity-75 bg-gradient text-light ms-1"
                routerLink="/UserDeatils">DETAILS</a> -->
        </div><div class="navbar-nav justify-content-end">
            <a class="nav-link btn btn-dark opacity-75 bg-gradient text-light ms-1" routerLink="/adminLogin">ADMIN</a>
            <!-- <li><a class="nav-link" routerLink="/demo">DEMO</a></li> -->
        </div>
    </div>
</nav>
<body>
    
<div class="shadow-lg bg-gradient bg-opacity-75 mb-5">
<div class="container">
    <div class="row mb-5 ">
        <div class="col-4 mt-5 me-5 mb-5">
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <div class="">
                    <div class="card border border-dark bg-light bg-gradient shadow-lg mb-5">
                        <div class="card-title p-5">
                            <h3 class="text-center text-primary mb-3">Login</h3>
                            <div class="card-body">
                                <form [formGroup]="loginForm" class="">
                                    <div>
                                        <div class="mb-3">

                                            <h6 class="form-label">Email :</h6>

                                            <div class="input-group">
                                                <i class="input-group-text bi bi-envelope"></i>
                                                <input type="email" name="email" formControlName="email"
                                                    [ngClass]="{'is-invalid':(submitted && loginForm.controls['email'].errors)}"
                                                    class="form-control" required>
                                                <div *ngIf="(loginForm.controls['email'].touched && loginForm.controls['email'].invalid)||submitted"
                                                    class="form-text text-danger invalid-feedback">
                                                    <small *ngIf="loginForm.controls['email'].errors?.['required']">
                                                        Email is required
                                                    </small>
                                                    <small *ngIf="loginForm.controls['email'].errors?.['pattern']">
                                                        Ex: abc@gmail.com
                                                    </small>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="mb-3">

                                            <h6 class="form-label">Password :</h6>

                                            <div class="input-group">
                                                <i class="input-group-text bi bi-lock-fill"></i>
                                                <input class="form-control" type="password" name="password"
                                                    [ngClass]="{'is-invalid':(submitted && loginForm.controls['password'].errors)}"
                                                    formControlName="password" required>
                                            </div>
                                            <div *ngIf="(loginForm.controls['password'].touched && loginForm.controls['password'].invalid)||submitted"
                                                class="form-text text-danger">
                                                <small *ngIf="loginForm.controls['password'].errors?.['required']">
                                                    password is required
                                                </small>
                                                <small *ngIf="loginForm.controls['password'].errors?.['pattern']">
                                                    Ex: abcAbc@1
                                                </small>
                                            </div>


                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <a class="form-text" routerLink="/forgetPassword">Forget Password..?</a>
                                    </div>
                                    <div class="mb-3">
                                        <input type="submit" (click)="loginValid()" name="submit"
                                            class="bg-info bg-gradient bg-opacity-50 form-control" value="LOGIN"><br>
                                    </div>
                                </form>
                                <div>
                                    <h6 class="form-text">Don't have account? <a routerLink="/signUp">signUp</a></h6>
                                    <!-- <input type="submit" routerLink="/signUp" class="loginButton" value="Create New Account"> -->
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <!-- <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                    Tooltip on top
                  </button> -->
            </div>
        </div>

    </div>
</div>
</div>
</body>